/*
    Importation de quelques polices.
 */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: rgb(10, 129, 198);
    background-image: url("img/windaube.jpg");
}

.menu {
    width: 50%;
    text-align: center;
    margin-top: 30px;
    margin-left: 480px;

}

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.cacher{
     display: none;
 }
.no-access{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.access{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    font-family: "DotGothic16", sans-serif;;
    font-size: 80px;
    margin-top: 100px;
}

#btnConfirm{
    color: black;
}
/*
    Partie sur le bouton.
*/
#btnStart{
    font-family: "Kanit", sans-serif;
    text-align: center;
    color: black;
    font-size: 30px;
    margin-top: 60px;
    padding: 10px;
    border-radius: 10%;
}
#btnStart:hover{
    color: white;
    background-color: #208f06;
}
/*
    Fin de la partie sur le bouton.
 */

/*
    Partie sur le bas de page
 */
#by {
    color: rgba(218, 216, 216, 0.92);
    font-size: 20px;
    font-weight: bold;
    margin-top: 400px;
    text-align: center;
}
/*
    Fin de la partie sur le bas de page.
 */

#mdp{
    color:black;
    width:13%;
}
#btnConfirm{
    font-family: "arial", sans-serif;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}
