<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/menuGame.css">
    <title>Projet transversal 2025-2026</title>
</head>
<body>
    <header>
        <div class="container-header">
            <h1>MasterDaube</h1>
        </div>
    </header>

    <main>
        <div class="menu">
            <label name="mdp" for="mdp">Veuillez entrer le mot de passe :</label>
            <input id="mdp" type="password" name="mdp">
            <button id="btnConfirm" name="mdp">confirmer</button>
            <p id="message"></p>
            <br>
            <button id="master" class="choix-bouton bouton-master hidden">Master</button>
            <button id="player" class="choix-bouton bouton-player hidden">Player</button>
        </div>
    </main>

    <footer>
        <p id="by">Réalisé par Mehdi, Alexandre, Valentin et Louis :)</p>
    </footer>

    <!--
        Balise script temporaire ...
    -->
    <script src="../static/script.js"></script>
</body>
</html>