<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/menuGame.css">
    <title>Projet transversal 2025-2026</title>
</head>
<body>
    <header>
        <div class="victoire">
            <h1>Victoire !!</h1>

            <p>Tes stats : 34545435 tentatives </p>
        </div>
    </header>
    <footer>
        <p id="by">Réalisé par Mehdi, Alexandre, Valentin et Louis :)</p>
    </footer>

    <!--
        Balise script temporaire ...
    -->
    <script src="../static/script.js"></script>
</body>
</html>